@{
	ViewData["Title"] = "Hakkımızda"; // veya Hakkımızda, Grup Şirketleri vs.
}

<div role="main" class="main">

	<section class="section section-height-3 border-0 m-0"
			 style="background-image:url('@Url.Content("~/assets/NewFolder/baskan.jpg")'); background-size: cover; background-position: center; background-repeat: no-repeat;">
		<div class="container position-relative pt-5 pb-5-5 mt-5 mb-5">
			<div class="row justify-content-end pt-1 mt-lg-5">
				<div class="col-7 col-md-5 position-relative">
					<ul class="breadcrumb d-block ps-2 appear-animation"
						data-appear-animation="fadeInLeftShorterPlus"
						data-appear-animation-delay="200">
						<li class="active"></li>
					</ul>

				</div>
			</div>
		</div>
	</section>

	<div class="container custom-margin-1">
		<div class="row gy-5 gy-lg-0">
			<div class="col-lg-8 order-lg-2 mt-0 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="1200">
				<div id="Hakkımızda" class="row">
					<div class="col">
						<h2 class="text-color-dark font-weight-bold text-7 line-height-1 mb-4"></h2>
						<div class="text-center">
							<img src="~/assets/newfolder/topçu holding logo 2.png"
								 class="img-fluid mb-4"
								 style="width: 400px; height: auto;"
								 alt="Engineer Man" />
						</div>



						<p class="font-weight-light text-3-5 mb-0">
							Topçu Holding; yüz yılı așan ticari yolculuğunda ülkemizin sanayileșme ve globalleșme sürecine katkı sağlamıș, istikrarı ve etik değerlere bağlılığıyla faaliyet gösterdiği makine, inșaat, enerji, hırdavat ve nalburiye sektörlerinde daima öncü konumunu korumuștur. Geçmișten gelen güvenilirliğini, yenilikçi ve dinamik bir yaklașımla birleștiren Topçu Holding, teknolojik gelișmeleri takip etmekte ve tüm dünyadan özenle seçtiği küresel markaların ürünlerini sanayi ve üretim dünyasıyla bir araya getirmektedir.

							“Birlikten Kuvvet Doğar” anlayıșını benimseyen Topçu Holding, Türkiye’nin dört bir yanındaki bayileriyle 100’ün üzerinde dünya markasının ürünlerini tüketiciyle bulușturmanın yanı sıra, sürdürdüğü AR-GE çalıșmaları neticesinde geliștirdiği yerli üretim ürünleri yurtiçi ve yurtdıșı pazarına sunmakta, ülke ekonomisine ve istihdama sağladığı katkının haklı onurunu yașamaktadır.

							Faaliyetlerini müșteri memnuniyeti, sürdürülebilirlik ve toplumsal sorumluluk anlayıșıyla yürüten Topçu Holding; bugün olduğu gibi gelecekte de müșterileri, çözüm ortakları, çalıșanları ve toplum için değer üretmeyi hedeflemektedir.

							Topçu Holding olarak tarihi, milli ve kültürel sorumluluğumuzun farkındayız. Türkiye distribütörlüğünü yaptığımız global markalarımız, yerli ve milli üretimle ekonomimize katkı sağlamak konusundaki kararlılığımız ve olușturduğumuz istihdam olanakları ile geçmiște olduğu gibi yarın da ilerlemeye ve ülkemize katkı sağlamaya devam edeceğiz.
						</p>
						<div class="row justify-content-center counters gy-4 gy-md-0 my-5-5">
							<div class="col-md-auto mt-0">
								<div class="counter">
									<strong class="text-color-primary text-13" data-to="105" data-append="+" data-plugin-options="{'accY': -200}">0</strong>
									<span class="text-color-primary font-weight-bold text-4">Yıl Tecrübe</span>
								</div>
							</div>
							<div class="col-md-auto px-xl-5 mx-md-5">
								<div class="counter">
									<strong class="text-color-primary text-13" data-to="4" data-append="+" data-plugin-options="{'accY': -200}">0</strong>
									<span class="text-color-primary font-weight-bold text-4">Grup Şirketi</span>
								</div>
							</div>
							<div class="col-md-auto">
								<div class="counter">
									<strong class="text-color-primary text-13" data-to="100" data-append="+" data-plugin-options="{'accY': -200}">0</strong>
									<span class="text-color-primary font-weight-bold text-4">Yabancı Marka Distribütörü</span>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>


			<!-- Sidebar -->
			@await Html.PartialAsync("_CorporateSidebar")




		</div>
	</div>

</div>