
@{
	ViewData["Title"] = "Genel Başkanın Mesajı"; // veya Hakkımızda, Grup Şirketleri vs.
}

<div role="main" class="main">

	<section class="section section-height-3 border-0 m-0"
			 style="background-image:url('@Url.Content("~/assets/NewFolder/yonetim.png")'); background-size: cover; background-position: center; background-repeat: no-repeat;">
		<div class="container position-relative pt-5 pb-5-5 mt-5 mb-5">
			<div class="row justify-content-end pt-1 mt-lg-5">
				<div class="col-7 col-md-5 position-relative">
					<ul class="breadcrumb d-block ps-2 appear-animation"
						data-appear-animation="fadeInLeftShorterPlus"
						data-appear-animation-delay="200">
						<li class="active"></li>
					</ul>

				</div>
			</div>
		</div>
	</section>
 </div>
	<div class="container custom-margin-1">
		<div class="row gy-5 gy-lg-0">
			<div class="col-lg-8 order-lg-2 mt-0 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="1200">
				<div id="Genel Müdürün Mesajı" class="row">
					<div class="col">
						<h2 class="text-color-dark font-weight-bold text-7 line-height-1 mb-4">Genel Müdürün Mesajı</h2>
						
						<p class="font-weight-medium text-4">
							Değerli Müşterilerimiz,
							Kıymetli Paydaşlarımız;
						</p>
						<p class="font-weight-light text-3-5 mb-0">
							100 yıla yaklaşan ticari geçmişiyle Reis Makina her geçen gün kendini geliştiren ve yenileyen bir yaklaşımla sektördeki lider konumunu daha da güçlendirmektedir. Yeni dönemde de müşteri odaklı yaklaşımımızla hizmet kalite standartlarımızı daha da yükselterek müşteri memnuniyetini vazgeçilmez önceliğimiz olarak görmeyi amaçlıyoruz.

							İş dünyasının bilindik kuralları her geçen gün değişmekte ve gelişmekte, çağın gerektirdiği teknolojik imkanları kullanmayı gerekli kılmaktadır. Bu dinamik dönüşüm sürecine ayak uyduramayan firmalar varlıklarını sürdürmekte büyük zorluklarla karşı karşıya kalacaktır. Bu vesileyle Reis Makina olarak hizmet kalitemizden ödün vermeden yeni iş trendlerini yakından takip etmeyi, yenilikçi adımlar, teknolojik gelişmeler ve stratejiler izlemeyi kendimize vazife görmekteyiz. Bu kapsamda üretim ve AR-GE’ye olan yatırımlarımızla doğrudan ihracat ile ülke ekonomisine katkıda bulunmaya ve istihdam yaratmaya devam etmekteyiz. Sektörümüzün mihenk taşı olarak üzerimize düşen görevleri yeni dönemde de başarılı bir şekilde yerine getirmeye ve bu konuda sektörümüze örnek olmaya devam edeceğiz.

							Rekabetin küresel boyuta ulaştığı bu dönemde, köklü ve öncü firmaların bir araya gelerek güçlü işbirlikleri yapmaları kaçınılmaz bir hal almıştır. Uzun yıllardır kaliteli ürünleriyle öne çıkan uluslararası markaların Türkiye Distribütörlüğünü üstlenmiş olan Reis Makina, gelecek dönemde de aynı şekilde önemli markalarla işbirliklerini güçlendirmeye devam edecektir. Nalburiye ve hırdavat sektöründeki tüm çözüm ortaklarımıza kaliteli hizmet ve gerçekçi fiyat politikamızı sürdürerek hizmet vermeye devam edeceğiz. Sektördeki iş ilişkilerinin dostane bir boyut kazanarak pekişmesini, kurumsal kültürümüzün ve köklü geçmişimizin bize yüklemiş olduğu bir misyon olarak görmekteyiz.
						</p>
						<div class="row justify-content-center counters gy-4 gy-md-0 my-5-5">
							<div class="col-md-auto mt-0">
							</div>
							<div class="col-md-auto px-xl-5 mx-md-5">
							</div>
							<div class="col-md-auto">
							</div>
						</div>
						<p class="font-weight-light text-3-5 pb-4-5 mb-3">
							Ülke ekonomisinin sektörümüz için taşıdığı önemin farkındayız. Gayemiz, sektör dinamiklerinin istikrarlı bir şekilde devam ettirilmesidir. Müşterilerimizden gelen talep ve önerileri bu durumun en önemli adımları olarak görmekteyiz. Reis Makina, dün olduğu gibi bugün ve yarın da sektörün taleplerine en hızlı ve en kaliteli çözümleri üretmeye, ülke ekonomisine ve sektör dinamiklerine katkıda bulunmaya devam edecektir.

							Çözüm odaklı yaklaşım ve müşteri memnuniyeti yeni dönemde de en önemli kurumsal değerimiz olmaya devam edecektir. Bu bağlamda görüş ve önerilerinizi her zaman çok önemsediğimizi bir kez daha hatırlatmak isterim. Ülkemize olan inancımızla yetkin ve alanında deneyimli insan kaynağımızla birlikte, devralmış olduğumuz bu bayrağı hep birlikte daha da ileriye taşıcağımıza inanıyorum. Sahip olduğumuz kurumsal birikime ulaşmamıza katkısı olan siz değerli İş Ortaklarımıza, Müşterilerimize, Servislerimize firmam ve şahsım adına sonsuz teşekkürlerimi sunuyorum.

							Reis Makina, sizlerin ışık tutmasıyla birlikte hedeflerine doğru emin adımlarla ilerlemeye devam edecektir.

							Hep birlikte yeni başarılara ulaşmak dileğiyle..
						</p>
						<p class="font-weight-light text-3-5 pb-0 mb-0">
							Saygılarımla,
						</p>
						<p class="font-weight-light text-3-5 pb-0 mb-0">
							Başar Demircan
						</p>
						<p class="font-weight-light text-3-5 pb-0 mb-0">
							Genel Müdür
						</p>
					</div>
				</div>


			</div>

		
		<!-- Sidebar -->
		@await Html.PartialAsync("_CorporateSidebar")


		</div>
	</div>

</div>
