
@{
	ViewData["Title"] = "Başkanın Mesajı";
}
<div role="main" class="main">

	<section class="section section-height-3 border-0 m-0"
			 style="background-image:url('@Url.Content("~/assets/NewFolder/baskan.jpg")'); background-size: cover; background-position: center; background-repeat: no-repeat;">
		<div class="container position-relative pt-5 pb-5-5 mt-5 mb-5">
			<div class="row justify-content-end pt-1 mt-lg-5">
				<div class="col-7 col-md-5 position-relative">
					<ul class="breadcrumb d-block ps-2 appear-animation"
						data-appear-animation="fadeInLeftShorterPlus"
						data-appear-animation-delay="200">
						<li class="active"></li>
					</ul>
					<h1 class="position-absolute top-100 left-0 text-color-light font-weight-bold text-6 line-height-3 text-end mt-5-5">
					
						
					</h1>
				</div>
			</div>
		</div>
	</section>


	<div class="container custom-margin-1">
		<div class="row gy-5 gy-lg-0">
			<div class="col-lg-8 order-lg-2 mt-0 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="1200">
				<div id="Hakkımızda" class="row">
					<div class="col">
						<h2 class="text-color-dark font-weight-bold text-7 line-height-1 mb-4">Başkanın Mesajı</h2>
						
					
						<p class="font-weight-light text-3-5 mb-0">
							Daha güçlü işbirliklerine ihtiyacın arttığı bir dünyada yaşıyoruz. Firmalarımızın bu yeni ekonomik çağda, ticaret yapma biçimlerinde de önemli değişiklikler meydana gelecektir. Her ne yaşanırsa yaşansın ürün ve hizmet kalitesinden taviz vermeyecek bir anlayışla hep birlikte hareket etmeliyiz. Aksi bir hareket, ticaretin en önemli olgusu olan güven unsurunu zedeleyecektir. Ülkemizin güven atmosferinin ticari faaliyetlerimiz için en önemli konu olduğunu hepimiz gördük. tabi ki güven, kaliteli ürün ile de doğrudan alakalı bir konudur.

							Ürün ve hizmetlerdeki kalite standartlarının oluşmasında tüketici bilincinin yerleşmesi de tartışılmaz bir gerçektir. Bizler de bu bilincin toplumun her bireyinin bilinçlenmesiyle sağlanabileceğini düşünüyoruz.

							Kalite döngüsünün oluşması için üreticinin de bilinçlenip, toplumun ihtiyacına uygun ve gereken kalitede üretimi gerçekleştirmesi, ithalatçının ve dağıtıcıların da aynı doğrultuda tüketiciye kaliteli ürünü sunması gerekmektedir.

							Ülkenin milli gelirinin yükselmesi bizce iki ana kavrama bağlıdır. Bunlardan birincisi eğitim, ikincisi ise bahsettiğimiz kalitedir. Bu iki kavramı bir bütün olarak alırsak ve bütüne sadık kalırsak, Türk girişimcisi zor günler geçirse de bu zorlukları aşacaktır. Bugün, ülkemiz ihracatta iyi bir yolda ilerlemektedir. Kaliteyi artıran Türk üreticisi artık dünyada “Made in Türkiye” imajını bir kalite simgesi olarak dünyaya sunmaktadır. Çok değil bundan 10 yıl öncesinde, üreticilerimizin ambalajlarına, “Made in Türkiye” yazmaktan çekindikleri bir vakıa olduğunu unutmayalım.

							Biz, ihracatta gösterdiğimiz ürün titizliğini ithalatta da sergilemeliyiz. İthal ürünlerde de kalite ilk planda ve öncelikli olmalıdır. Sektörde yer alanlar kaliteyi istedikçe, kalite daha da yükselecektir. Ülkemizin dünyada parmakla gösterilmesi için Türkiye dendiğinde kaliteli ürün ve hizmet akla gelmelidir. Reis Makina, bu anlayışla yoluna devam edecektir.

				
						</p>
						<div class="row justify-content-center counters gy-4 gy-md-0 my-5-5">
							<div class="col-md-auto mt-0">
								
							</div>
							<div class="col-md-auto px-xl-5 mx-md-5">
								
							</div>
							<div class="col-md-auto">
								
							</div>
						</div>
						<p class="font-weight-light text-3-5 pb-2 mb-0">
							Dursun Topçu
						</p>
						<p class="font-weight-light text-3-5 pb-2 mb-0">
							Yönetim Kurulu Başkanı
						</p>

					</div>
				</div>
				

			</div>

			<!-- Sidebar -->
			@await Html.PartialAsync("_CorporateSidebar")


		</div>
	</div>

</div>