
@{
	ViewData["Title"] = "Değerlerimiz";
}
<div role="main" class="main">

	<section class="section section-height-3 border-0 m-0"
			 style="background-image:url('@Url.Content("~/assets/NewFolder/baskan.jpg")'); background-size: cover; background-position: center; background-repeat: no-repeat;">
		<div class="container position-relative pt-5 pb-5-5 mt-5 mb-5">
			<div class="row justify-content-end pt-1 mt-lg-5">
				<div class="col-7 col-md-5 position-relative">
					<ul class="breadcrumb d-block ps-2 appear-animation"
						data-appear-animation="fadeInLeftShorterPlus"
						data-appear-animation-delay="200">
						<li class="active"></li>
					</ul>

				</div>
			</div>
		</div>
	</section>

	<div class="container custom-margin-1">
		<div class="row gy-5 gy-lg-0">
			<div class="col-lg-8 order-lg-2 mt-0 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="300">
				<div id="Hakkımızda" class="row">
					<div class="col">
						<h2 class="text-color-dark font-weight-bold text-7 line-height-1 mb-4">Değerlerimiz</h2>
						
						
						<p class="font-weight-light text-3-5 mb-2">
							Topçu Holding olarak, faaliyet gösterdiğimiz tüm alanlarda sürdürülebilir başarıyı hedeflerken, etik ilkelere bağlı, topluma ve çevreye duyarlı bir yaklaşımla hareket ederiz. Bizi biz yapan ve geleceğe taşıyan temel değerlerimiz şunlardır:
						</p>
						<p class="font-weight-light text-3-5 mb-2">
							Güvenilirlik:
							Tüm ilişkilerimizde şeffaf, dürüst ve tutarlı davranırız. Söz verdiğimiz gibi hareket ederek tüm paydaşlarımızın güvenini kazanmak ve bu güveni korumak en temel önceliğimizdir.
						</p>
						<p class="font-weight-light text-3-5 mb-2">
							İnsan ve Çevreye Saygı:
							İnsan odaklı yaklaşımı benimser, çalışanlarımızın haklarına ve gelişimine önem veririz. Çevreye duyarlı projeler geliştirerek, sürdürülebilir bir gelecek için sorumluluk alırız.
						</p>
						<p class="font-weight-light text-3-5 mb-2">
							Müşteri Odaklılık:
							Müşterilerimizin beklenti ve ihtiyaçlarını doğru analiz eder, en yüksek kalitede ürün ve hizmet sunmak için çalışırız. Müşteri memnuniyetini kalıcı kılmak öncelikli hedefimizdir.
						</p>
						<p class="font-weight-light text-3-5 mb-2">
							Sürekli Gelişim ve Yenilikçilik:
							Gelişen teknolojileri takip ederek yenilikçi çözümler üretir, süreçlerimizi sürekli iyileştiririz. Çalışanlarımızın kişisel ve profesyonel gelişimini destekleyerek kurum kültürümüzü güçlendiririz.
						</p>
						<p class="font-weight-light text-3-5 mb-2">
							Takım Ruhu:
							Başarıya birlikte ulaşılacağına inanır, ekip ruhu ile hareket ederiz. Çalışanlarımız, iş ortaklarımız ve tüm paydaşlarımızla uyum içerisinde çalışmayı hedefleriz.
						</p>
						<p class="font-weight-light text-3-5 mb-2">
							Kalite ve Mükemmellik:
							Kaliteyi tüm süreçlerimizin odağına alır, uluslararası standartlarda üretim ve hizmet anlayışını benimseriz. Mükemmeliyetçi yaklaşımımızla her zaman daha iyisini hedefleriz.
						</p>
						<p class="font-weight-light text-3-5 mb-2">
							Topçu Holding olarak, bugünden yarına taşıyacağımız en büyük mirasımızın değerlerimiz olduğuna inanıyor ve faaliyet gösterdiğimiz her alanda bu değerleri yaşatarak ülkemize, insanımıza ve geleceğimize değer katmayı sürdürüyoruz.


						</p>
						<div class="row justify-content-center counters gy-4 gy-md-0 my-5-5">
							<div class="col-md-auto mt-0">
								
							</div>
							<div class="col-md-auto px-xl-5 mx-md-5">
								
							</div>
							<div class="col-md-auto">
								
							</div>
						</div>
					
					</div>
				</div>

			</div>

		
			<!-- Sidebar -->
			@await Html.PartialAsync("_CorporateSidebar")


		</div>
	</div>

</div>