
@{
	ViewData["Title"] = "Haberler";
}


<div role="main" class="main">

	<section class="section section-height-3 border-0 m-0">
		<div class="container position-relative pt-5 pb-5-5 mt-5 mb-5">
			<div class="row justify-content-end pt-1 mt-lg-5">
				<div class="col-7 col-md-5 position-relative">
					<ul class="breadcrumb d-block ps-2 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="200">
						<li><a href="@Routes.Media.Detail4"</a></li>
						<li class="active"></li>
					</ul>
					<h1 class="position-absolute top-100 left-0 text-color-light font-weight-bold text-6 line-height-3 text-end mt-5-5">
						<span class="d-block position-relative z-index-1 pb-5 ps-lg-3 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="800">Medya</span>
						<span class="custom-svg-position-1 custom-svg-position-1-variation">
							<svg class="svg-fill-color-dark mt-1 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="400" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 859.45 88.44" xml:space="preserve" preserveAspectRatio="none">
							<polyline points="7.27,84.78 855.17,84.78 855.17,4.79 84.74,4.79 " />
				                        </svg>
						</span>
					</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="container pb-5 pb-sm-0 my-5">
		<div class="row align-items-center justify-content-center justify-content-sm-between flex-column flex-sm-row mb-5 mb-sm-0">
			<div class="col-10 text-center text-sm-start mb-4 mb-sm-0">
				<span class="d-block text-color-grey positive-ls-3 font-weight-medium text-2"></span>
				<h2 class="font-weight-bold text-10 line-height-1 text-color-dark mb-0 mb-sm-5-5">Kızıldeniz gerginliği imalatta fiyatları artırmaya başladı</h2>
			</div>
			
		</div>
		
	</div>

	<section class="section bg-transparent border-0 pb-5 mb-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-10">
                    <img src="~/assets/newfolder/haber4.png" class="img-fluid mb-5 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="300" alt="Building in Construction" />

					<p class="text-3-5 font-weight-light text-justify">
						Dünya ticaretinin yüzde 12’sinin gerçekleştiği Kızıldeniz’de Yemenli Husilerin uluslararası gemi ticaretine yönelik drone ve füze saldırıları nedeniyle küresel ticaret akışını olumsuz etkilenmeye devam ediyor. Başta Avrupa olmak üzere tedarik zincirinde kırılmalar yaşanmaya başladı.

						Kızıldeniz üzerinden gelen gemiler Afrika’nın güneyinden Ümit Burnu üzerinden yeni bir rota belirledi ya da güvenlik riski nedeniyle seferlerini iptal etti. Ancak bu yeni rota seyahat süresini iki hafta uzattı ve navlun fiyatlarında neredeyse 4 katı artış görülmeye başlandı.
					</p>

					<p class="text-3-5 font-weight-light text-justify">
						Navlun fiyatları pandemi dönemindeki fiyatları bile geçti. Kriz kısa sürede sona erdirilemezse navlun fiyatlarındaki bu artış ithal bazlı ürünlere yansımaya başlayacak. Bu nedenle ithalatla üretilen ürünlerin maliyetleri artmaya başladı. Tüm dünya ticaretini etkileyen kriz bir süre daha çözülecek gibi görünmüyor. Jeopolitik gerginlik bir kaç ay daha sürerse yüksek enflasyon baskısını artırması gündeme gelecek.
					</p>

					<p class="text-3-5 font-weight-light text-justify">
						Reis Makina Genel Müdürü Başar Demircan “Süveyş Kanalı’nın kullanılamaması ve rotanın uzaması sonucu navlun maliyetleri yaklaşık 3 kat arttığı için üretim maliyetlerinde artış görmeye başladık. Üretim süreçleri aksamaya uğrarken stok maliyetlerimiz de arttı.Reis Makina’nın ürettiği ve ithal ettiği ürünler fabrikaların, işletmelerin ihtiyaçlarını karşılayan ürünler. Metal kesme makinelerinden tutun da jeneratöre, matkaptan penseye kadar 20 bin ürünle üretime, imalata katkımız var. Dolayısıyla aklınıza gelebilecek hemen her sektörle ticari ilişkimiz söz konusu. İmalat sektörlerinde Kızıldeniz’deki jeopolitik gerginliğin etkilerini yaşamaya başlandı.

						İmalatı yapılan ürünlerde navlun kaynaklı hammadde gecikmeleri ve maliyet artışları, ihracatı rekabetçilik açısından olumsuz etkiliyor diyebiliriz. İç pazarda satış yapılan ürünlerde navlun süreçlerinin uzaması sebebiyle yer yer stok eksiklikleri yaşanmakta ve maliyet artışlarına yol açılmaktadır” sözleriyle imalat sektörünün krizden etkileneceğinin altını çizdi.
					</p>

					<p class="text-3-5 font-weight-light text-justify">
						Küresel ölçekte yaşanan krizlere rağmen 2024 yılına sektör olarak iyi bir tablo ile girdiklerini belirten Reis Makina Genel Müdürü Başar Demircan, her krizin beraberinde fırsatları da getirdiği vurguladı. Demircan “Ülkemizin bulunduğu coğrafyanın Avrupa’ya yakın olması ve yerel üretim imkanlarımızın gelişmesi sebebiyle Uzakdoğu’ya göre daha avantajlı maliyetler sunabiliyoruz. Bu nedenle ihracat rekabetinde avantajlıyız. Bu süreç doğru yönetildiği takdirde ihracatçı firmalarımız kalıcı pazarlar edinebilir.

						Reis Makina da geçmişe dayalı tecrübesi ve temkinli ticari yaklaşımıyla bu krizi partnerleri en az zarar görecek şekilde yönetiyor. Burada yerli markalaşma ve üretim büyük önem taşıyor. İthal ürünlere bağlı kalmadan üretim çözümleri geliştirilme yolunda önemli adımlar atan Reis Makina olarak pandemide yaşanan tedarik zinciri kırılması nedeniyle imalat tarafını güçlendirmişti.

						Biz hem ithalatçı hem de üretici ve buna bağlı olarak da ihracatçı bir firmayız. Kendi markamız olan Craft metal işleme makineleri, full jeneratörlerinin üretimine pandemi sonrası hız vermiştik. Kızıldeniz krizi ile ihracat tarafında artış bekliyoruz” dedi.
					</p>
				</div>
			</div>
		</div>
	</section>

</div>

