
@{
	ViewData["Title"] = "Haberler";
}


<div role="main" class="main">

	<section class="section section-height-3 border-0 m-0">
		<div class="container position-relative pt-5 pb-5-5 mt-5 mb-5">
			<div class="row justify-content-end pt-1 mt-lg-5">
				<div class="col-7 col-md-5 position-relative">
					<ul class="breadcrumb d-block ps-2 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="200">
						<li><a href="@Routes.Media.Detail5"</a></li>
						<li class="active"></li>
					</ul>
					<h1 class="position-absolute top-100 left-0 text-color-light font-weight-bold text-6 line-height-3 text-end mt-5-5">
						<span class="d-block position-relative z-index-1 pb-5 ps-lg-3 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="800">Medya</span>
						<span class="custom-svg-position-1 custom-svg-position-1-variation">
							<svg class="svg-fill-color-dark mt-1 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="400" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 859.45 88.44" xml:space="preserve" preserveAspectRatio="none">
							<polyline points="7.27,84.78 855.17,84.78 855.17,4.79 84.74,4.79 " />
				                        </svg>
						</span>
					</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="container pb-5 pb-sm-0 my-5">
		<div class="row align-items-center justify-content-center justify-content-sm-between flex-column flex-sm-row mb-5 mb-sm-0">
			<div class="col-10 text-center text-sm-start mb-4 mb-sm-0">
				<span class="d-block text-color-grey positive-ls-3 font-weight-medium text-2"></span>
				<h2 class="font-weight-bold text-10 line-height-1 text-color-dark mb-0 mb-sm-5-5">
					Makita Ortadoğu Bölge Temsilcisi Kitagawa’dan deprem bölgesinde esnaf ziyareti
				</h2>
			</div>
			
		</div>
		
	</div>

	<section class="section bg-transparent border-0 pb-5 mb-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-10">
                    <img src="~/assets/newfolder/haber5.png" class="img-fluid mb-5 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="300" alt="Building in Construction" />

					<p class="text-3-5 font-weight-light text-justify">
						Japonya’dan gelen Makita Ortadoğu Bölge Temsilcisi Takashi Kitagawa Adıyaman, Kahramanmaraş ve Hatay’da birlikte çalıştıkları esnafı ziyaret etti. Depremin ardından yaralarını saran ve yeniden ticaret hayatına başlayan esnafa destek olmak istediklerini belirten Kitagawa, ilk günlerden beri süreci takip ettiklerini söyledi.
					</p>
					<p class="text-3-5 font-weight-light text-justify">
						Makita, Kahramanmaraş merkezli depremlerden etkilenen bölgeye düzenlenen üst düzey temsilci ziyaretleriyle desteklerini sürdürüyor. Şirket, 6 Şubat depreminin hemen ardından kurtarma çalışmalarında kullanılmak üzere bölgeye milyonlarca liralık ayni yardım desteğinde bulunmuştu.

						Makita temsilcileri deprem bölgesindeki son durumu yerinde incelemek ve çözüm ortağı olan depremzede esnafa destek vermek için aylar sonra yeniden deprem bölgesine geldi. Japonya’dan gelen Makita Ortadoğu Bölge Temsilcisi Takashi Kitagawa Adıyaman, Kahramanmaraş ve Hatay’da birlikte çalıştıkları esnafı ziyaret etti.

						Depremin ardından yaralarını saran ve yeniden ticaret hayatına başlayan esnafa destek olmak istediklerini belirten Kitagawa, “Bayilerimizin yaşadıkları büyük felaket sonrası ticaret hayatına yeniden başlaması zorlu bir süreç. Biz ülke olarak bu acıyı defalarca deneyimledik. O nedenle burada yaşananları çok iyi anlıyoruz. Esnafın yeniden ticaret hayatına başlaması bölge kalkınması açısından da önemli. Sorunlarını yerinde dinleme, tespit etmek istedik ki ilerleyen günlerde yerinde çözümler sunabilelim.” dedi.
					</p>
					<p class="text-3-5 font-weight-light text-justify">

						Makita Ortadoğu Bölge Temsilcisi Takashi Kitagawa’nın ziyaretinden büyük memnuniyet duyan Makita bayileri, depremin ardından yaşadıkları zorlu süreç hakkında bilgi verdi. Makita Türkiye’deki Distrübütörü olan Reis Makina’nın Genel Müdürü Başar Demircan,  Japon çözüm ortakları olan Makita’nın depremin olduğu günden beri konuya hassasiyetle yaklaştığını, sürekli olarak deprem bölgesinde yaşananlar hakkında bilgi aldıklarını belirtti. Demircan, “Makita hırdavat sektöründe dünyanın en önde gelen firması, depremin ilk günlerinde kurtarma çalışmalarında kullanılmak üzere milyonlarca lira değerinde makine yardımında bulundular, sonrasında ise esnafın yaralarını sarıp toparlanması için destekleri devam etti. Ülkemiz için asrın felaketi olarak nitelenen depremin üzerinden aylar geçmesine rağmen bölgeyi ziyaret etmeleri bizim açımızdan çok değerli. Japonlar kötü gün dostu olduklarını bir kez daha göstermiş oldular.” şeklinde konuştu.
					</p>
				</div>
			</div>
		</div>
	</section>

</div>

