
@{
	ViewData["Title"] = "Haberler";
}


<div role="main" class="main">

	<section class="section section-height-3 border-0 m-0">
		<div class="container position-relative pt-5 pb-5-5 mt-5 mb-5">
			<div class="row justify-content-end pt-1 mt-lg-5">
				<div class="col-7 col-md-5 position-relative">
					<ul class="breadcrumb d-block ps-2 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="200">
						<li><a href="@Routes.Media.Detail2"</a></li>
						<li class="active"></li>
					</ul>
					<h1 class="position-absolute top-100 left-0 text-color-light font-weight-bold text-6 line-height-3 text-end mt-5-5">
						<span class="d-block position-relative z-index-1 pb-5 ps-lg-3 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="800">Medya</span>
						<span class="custom-svg-position-1 custom-svg-position-1-variation">
							<svg class="svg-fill-color-dark mt-1 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="400" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 859.45 88.44" xml:space="preserve" preserveAspectRatio="none">
							<polyline points="7.27,84.78 855.17,84.78 855.17,4.79 84.74,4.79 " />
				                        </svg>
						</span>
					</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="container pb-5 pb-sm-0 my-5">
		<div class="row align-items-center justify-content-center justify-content-sm-between flex-column flex-sm-row mb-5 mb-sm-0">
			<div class="col-10 text-center text-sm-start mb-4 mb-sm-0">
				<span class="d-block text-color-grey positive-ls-3 font-weight-medium text-2"></span>
				<h2 class="font-weight-bold text-10 line-height-1 text-color-dark mb-0 mb-sm-5-5">Reis Makina, Yapay Zekâ Entegrasyonu ile Operasyonel Verimliliği Artırıyor! </h2>
			</div>
		
		</div>
		
	</div>

	<section class="section bg-transparent border-0 pb-5 mb-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-10">
                  <img src="~/assets/newfolder/haber2.png" class="img-fluid mb-5 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="300" alt="Building in Construction" />

					<p class="text-3-5 font-weight-light text-justify">
						

						Reis Makina Genel Müdürü Başar Demircan, Haber7.com'a verdiği özel röportajda sektörün dünyadaki büyüklüğüne dikkat çekerek, "Hırdavat sektörü dünya genelinde 1 trilyon dolarlık hacme sahip. Türkiye ise bu pazardan 25 milyar dolarlık bir pay alıyor. Mevcut kapasitemizi artırarak bu rakamı 100 milyar dolara çıkarmamız mümkün. Yerli üretime ve teknolojiye yaptığımız yatırımlarla, sektörde önemli bir oyuncu olmaya devam edeceğiz" dedi.

						Son yıllarda dijitalleşme çalışmalarına hız veren Reis Makina, yapay zekâ uygulamaları sayesinde verimliliği yüzde 20, kazancını ise yüzde 15 artırmayı hedefliyor. Teknokentler ve üniversitelerle iş birliği yaparak AR-GE çalışmalarını daha da ileri taşımayı planlayan Reis Makina, sürdürülebilirlik ve teknolojik altyapısıyla uluslararası rekabette öne çıkmayı amaçlıyor.
				</div>
			</div>
		</div>
	</section>

</div>

