
@{
    ViewData["Title"] = "Haberler";
}
<div role="main" class="main">

    <section class="section section-height-3 border-0 m-0">
        <div class="container position-relative pt-5 pb-5 mt-5 mb-5">
            <div class="row justify-content-end pt-1 mt-lg-5">
                <div class="col-12 col-md-7 position-relative">
                    <ul class="breadcrumb d-block ps-2 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="200">
                        <li><a href="@Routes.Media.Detail1"</a></li>
                        <li class="active"></li>
                    </ul>
                    <h1 class="position-absolute top-100 start-0 text-color-light font-weight-bold text-6 line-height-3 text-end mt-5">
                        <span class="d-block position-relative z-index-1 pb-5 ps-lg-3 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="800">Medya</span>
                        <span class="custom-svg-position-1 custom-svg-position-1-variation">
                            <svg class="svg-fill-color-dark mt-1 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 859.45 88.44" preserveAspectRatio="none">
                                <polyline points="7.27,84.78 855.17,84.78 855.17,4.79 84.74,4.79" />
                            </svg>
                        </span>
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <section class="section bg-transparent border-0 pb-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <img src="~/assets/newfolder/haber1.jpg" class="img-fluid mb-5 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="300" alt="Building in Construction" />

                    <p class="text-3-5 font-weight-light text-justify">
                        TOPÇU HOLDİNG Ziyaret Edildi!

                        2 Nisan 2024 tarihinde Topçu Holding'i ziyaret ederek, olası iş birlikleri ve hayata geçirilebilecek projeler üzerinde kapsamlı bir görüşme gerçekleştirdik. İnovatif çözümler ve stratejik ortaklıklar geliştirmek amacıyla bir araya geldiğimiz bu buluşma, her iki taraf için de yeni fırsatlar yaratma potansiyeli taşıyor. Gelecek projelerimizle ilgili heyecan verici fikirlerin paylaşıldığı bu toplantıda, iş birliğimizi daha da güçlendirmek için atılacak adımları belirledik.
                    </p>
                </div>
            </div>
        </div>
    </section>

</div>
