namespace TopcuHolding.Views.Home
{
    public class CookiePoliciy
    {
@{
    ViewData["Title"] = "İnternet Çerez (Cookies) Aydınlatma Politikası";
}

<h1>@ViewData["Title"]</h1>

<section>
    <h2>1- Genel Olarak</h2>
    <p>
        İşbu çerez aydınlatma politikasının asıl hedefi, topcu holding.com internet sitesinin sizlere hizmet verdiği ve yürürlükte bulunduğu süre zarfında site ziyaretçileri ("Veri Sahibi") tarafından çerezlerin (Cookies) kullanılmasıyla elde edilen kişisel verilerin işlenmesine bağlı olarak siz ziyaretçilerimize bilgi vermektir.
    </p>
    <p>
        Şirket olarak elektronik ortamdaki mecralarımızı ziyaretleriniz sırasında sizlerin daha faydalı bir deneyim sağlamanız ve kolaylık sağlamak amacıyla çerezler, pikseller, gifler gibi bazı teknolojik mekanizmalardan ("çerezler") faydalanmaktayız.
    </p>
    <p>
        Bu çerezlerin kullanımı ve işlenmenin yapılması temel olarak 6698 Sayılı Kişisel Verilerin Korunması Kanunu ("K.V.K.K.") esas alınarak mevzuata uygun bir şekilde gerçekleştirilmektedir.
    </p>
    <!-- Politika metnini burada detaylandırabilirsin... -->
</section>

    }
}
