
@{
	ViewData["Title"] = "REİS MAKİNA Ticaret ve Sanayi A.Ş."; // veya Hakkımızda, Grup Şirketleri vs.
}


<div role="main" class="main">

	<section class="section section-height-3 border-0 m-0">
		<div class="container position-relative pt-5 pb-5-5 mt-5 mb-5">
			<div class="row justify-content-end pt-1 mt-lg-5">
				<div class="col-7 col-md-5 position-relative">
					<ul class="breadcrumb d-block ps-2 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="200">
						<li><a href="@Routes.GroupCompanies.ReisMakina"></a></li>
						
					</ul>
					<h1 class="position-absolute top-100 left-0 text-color-light font-weight-bold text-6 line-height-3 text-end mt-5-5">
						<span class="d-block position-relative z-index-1 pb-5 ps-lg-3 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="800">
							Grup Şirketleri</span>
						<span class="custom-svg-position-1 custom-svg-position-1-variation">
							<svg class="svg-fill-color-dark mt-1 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="400" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 859.45 88.44" xml:space="preserve" preserveAspectRatio="none">
							<polyline points="7.27,84.78 855.17,84.78 855.17,4.79 84.74,4.79 " />
				                        </svg>
						</span>
					</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="container custom-margin-1">
		<div class="row gy-5 gy-lg-0 pt-3 pt-lg-0 mt-5 mt-lg-0">
			<div class="col-lg-12 order-lg-2 mt-0 appear-animation text-center" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="200">

				<h2 class="font-weight-bold text-color-dark mb-4 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="1400">
					REİS MAKİNA Ticaret ve Sanayi A.Ş.
				</h2>

				<div class="w-75 mx-auto">
					<img src="~/assets/newfolder/tanitimvideosu.jpg" class="img-fluid mb-5-5 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="200" alt="Building in Construction text align center" />

					<p class="text-3-5 font-weight-light mb-5-5 text-center">
						Makina, İnşaat, Enerji, Hırdavat ve Nalburiye sektörlerinde, yüzyılı geçen ticari geçmişiyle faaliyetlerini sürdüren Reis Makina; Makita, Knipex, Proxxon, Lavor, Virax, Gison, BMI, Bea ve Exena başta olmak üzere, küresel büyüklükte çok sayıda markanın Türkiye Genel Distribütörüdür.
						<br><br>
						Elektrikli El Aletleri, Endüstriyel Ürünler, Jeneratör ve Motorlar, Metal İşleme Makinaları, Bahçe Aletleri, El Aletleri, Havalı El Aletleri, İş Güvenliği Ekipmanları ve Temizlik Makinaları, Reis Makina’nın müşterilerine sunduğu başlıca ürün gruplarıdır. Uluslararası kalite standartlarında Reis Makina güvencesi ile Topçu Holding çatısı altında ürettiği ürünleri tüketicilerin beğenisine sunarak onlarca ülkeye ihraç etmektedir. Çeşidi 20.000’i aşan zengin ürün yelpazesiyle, Reis Makina, bulunduğu sektörün lider kuruluşudur.
						<br><br>
						Yeteneklerin geliştirildiği, katılımın ve ekip çalışmasının özendirildiği Reis Makina’da öncelikli amaç; sektörün talep ve ihtiyaçlarını karşılayan doğru atılımlar yaparak, alanında en kaliteli ürünleri, rasyonel fiyat ve maksimum hizmet politikasıyla pazara sunmaktır.
						<br><br>
						Türkiye’nin dört bir yanında; stratejik ticari ortak olarak adlandırılan Reis Shop Mağazaları, yüzlerce bayii ve 400’ü aşan yetkili servis ile Reis Makina, içinde bulunmuş olduğu sektörün markalaşmasına büyük katkı sağlamaktadır.
						<br><br>
						Profesyonel kullanıcılar için vazgeçilmez olan Reis Makina ürünleri, Türkiye’nin her bölgesinde bulunan Reis Shop Mağazalarında, bayilerde ve yapı marketlerde tüketicilere sunulmaktadır.
						<br><br>
						Teknoloji eksenli değişim modeliyle yeni iş trendlerine uygun adımlar atan Reis Makina, ARGE programı kapsamında geliştirdiği ürün gamıyla, müşterilerine, sürekli inovasyon içeren farklı ve yeni ürün seçenekleri önermektedir.
						<br><br>
						Reis Makina, tüm iş ortakları ile birlikte büyüme ve birlikte gelişmeyi kendine ilke edinmiştir.
						<br><br>
						Güven veren öncü kimliği ve kurumsal yapısıyla, bir yandan Türkiye’de üretim ve sanayinin gelişimine katkı sağlayacak profesyonel ürünleri sektörün beğenisine sunan Reis Makina, diğer yandan daha fazla üretim ve istihdam imkânları oluşturarak, ülke ekonomisine fayda sağlamayı kendine hedef olarak belirlemiştir.
					</p>
				</div>

				<div class="bg-white text-dark p-4 rounded-4 mt-5 w-75 mx-auto">
					<div class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-4 text-center text-md-start">
						<img src="~/assets/newfolder/rm-187.png" alt="Reis Makina Logo" class="rounded-circle border border-white" width="150" height="150">

						<div>
							<h5 class="fw-bold text-uppercase mb-1">REİS MAKİNA</h5>
							<p class="mb-3">Ticaret ve Sanayi A.Ş.</p>
							<ul class="list-unstyled mb-0 fs-6">
								<li class="mb-2">
									<i class="fas fa-phone-alt me-2 text-primary"></i>444 73 47
								</li>
								<li class="mb-2">
									<i class="fas fa-envelope me-2 text-primary"></i>
									<a href="mailto:info@reismakina.com" class="text-dark text-decoration-none">info@reismakina.com</a>
								</li>
								<li class="mb-2">
									<i class="fas fa-globe me-2 text-primary"></i>
									<a href="https://www.reismakina.com" class="text-dark text-decoration-none" target="_blank">www.reismakina.com</a>
								</li>
								<li class="mb-2">
									<i class="fas fa-map-marker-alt me-2 text-primary"></i>
									Abdurrahmangazi, İmamoğlu Sokak, No:2 Sancaktepe/İstanbul
								</li>
								<li>
									<i class="fas fa-location-dot me-2 text-primary"></i>
									Orta Mah. Keban Sok. No:1 K:3 Tepeören - Orhanlı/Tuzla/İSTANBUL
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="accordion custom-accordion-style-1 mb-5-5" id="accordion1">
					<!-- accordion içeriği buraya -->
				</div>

			</div>
		</div>
	</div>

